# Task 2 Data science Internship with innomatics Research Labs

Task - 2 (Data Types)

List Comprehensions

In [10]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    s=list()
    for i in range(x+1):
        for j in range(y+1):
            for m in range(z+1):
                if (i+j+m!=n):
                    s.append([i,j,m])
    print(s)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

Nested Lists

In [16]:
if __name__ == '__main__':
    dic={}
    s=list()
    for _ in range(int(input())):
        name = input()
        score = float(input())
        if score in dic:
            dic[score].append(name)
        else:
            dic[score]=[name]
        if score not in s:
            s.append(score)
    m=min(s)
    s.remove(m)
    m1=min(s)
    dic[m1].sort()
    for i in dic[m1]:
        print(i)

5
harry
37.21
berry
37.21
tina
37.2
akriti
41
harsh
39
berry
harry

Finding the percentage

In [17]:
n = int(input())
student_marks = {}
for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
student_name = input()
a=student_marks[student_name]
b=sum(a)/3
c=round (b,2)
print("{0:.2f}".format(c))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

Lists

arr=[]
for i in range(N):
    s = input ().split()
    for i in range (l,len(s)):
        s[i]=int(s[i])
    
    if s[0] == "append":
        arr.append(s[1])
    
    elif s[0] == "insert":
        arr.insert (s[1],s[2])
    elif s[0] == "remove":
        arr.remove(s[1])
    elif s[0] == "pop":
        arr.pop()
        
    elif s[0]== "sort":
        arr.sort()
    elif s[0] == "revers":
        arr.reverse()
    elif s[0] == "print":
        print(arr)

In [1]:
if __name__ == '__main__':
    n = int(input())
    my_list = map(int, input().split())
    
    a = tuple(my_list)
    print(hash(a));

2
1 2
-3550055125485641917

Introduction to Sets

In [2]:
def average(arr):
    addition_arr = sum (set(arr))
    len_arr = len(set(arr))
    average_arr = addition_arr/ len_arr
    return average_arr;

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

Symmetric Difference

In [3]:
my_integer = int(input())
my_set = set(map(int, input().split()))
my_integers = int(input())
my_sets = set(map(int, input().split()))

my_integerdef = my_set.difference(my_sets)
my_integersdef = my_sets.difference(my_set)

output = my_integerdef.union(my_integersdef)

for i in sorted(list(output)):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

Set .add()

In [4]:
integer = int(input())
s = set()
for i in range(integer):
    s.add(input())
print(len(s))

7
UK
CHINA
USA
FRANCE
NEW ZEALAND
UK
FRANCE
5

Set .discard(), .remove() & .pop()

In [5]:
my_list = int(input())
my_set = set(map(int,input().split()))
num = int(input())
for i in range(num):
    j = input().split()
    if j[0]=="remove":
        my_set.remove(int(j[1]))
    elif j[0]=="discard":
        my_set.discard(int(j[1]))
    else :
        my_set.pop()
print(sum(list0(my_set)))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 5
discard 6
remove 5

KeyError: 5

Set .union() Operation

In [7]:
my_iter = int(input())
my_set = set(input().split());

my_iter2 = int(input())
my_set2 = set(input().split());

my_set3 = my_set.union(my_set2)

print(len(my_set3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

Set .intersection() Operation

In [8]:
my_iter = int(input())
my_set = set(input().split());

my_iter2 = int(input())
my_set2 = set(input().split());

my_set3 = my_set.intersection(my_set2)

print(len(my_set3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

Set .difference() Operation

In [9]:
my_iter = int(input())
my_set = set(input().split());

my_iter2 = int(input())
my_set2 = set(input().split());

my_set3 = my_set.difference(my_set2)

print(len(my_set3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

Set .symmetric_difference() Operation

In [10]:
my_iter = int(input())
my_set = set(input().split());

my_iter2 = int(input())
my_set2 = set(input().split());

my_set3 = my_set.symmetric_difference(my_set2)

print(len(my_set3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

Check Subset

In [11]:
my_iter = int(input())

for _ in range(my_iter):
    ipa = input()
    
    ipa_set = set(input().split())
    
    ipb = int(input())
    
    ipb_set = set(input().split())
    
    print(ipa_set.issubset(ipb_set))

3
5
1 2 3 4 5 6
9
9 8 5 6 32 1 4 7
False
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

Check Strict Superset

In [12]:
my_iter = set(input().split())
a = int(input())
output = True

for i in range(a):
    my_iter2 = set(input().split())
    if not my_iter.issubset(my_iter):
        output = False
    if len(my_iter2) >= len(my_iter):
        output = False

print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
True